<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/">C</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">blog</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>
    </div>

  </body>
</html>
