---
layout: default
---
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon.ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style type="text/css">
.center
{
 text-align:center;
 display:block;
}
</style>

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
